#dl{ color:black; text-align: center;}
span{font-size: 66px; text-align: center;}
.bule{ color: blue;}
.juhong{ color: #cc3300;}
.orange{ color: orange;}
.green{ color: green;}
.hotpink{ color: hotpink;}
